
	

#center{
	 
	}
	

.class {
    
	border-bottom:1px solid #eaeaea;
}	
.list {
  margin: 0 auto;
  width: 570px;
  height: 160px;
}
li.item01 .icon {
  padding-bottom: 10px;
}	

.item01 {
  float: left;
  position: relative;
  text-align: center;
  width: 190px;
  padding: 37px 0;
  color: #555;
  font-size: 16px;
}
.on{
	color:#000000;
	
	}

.txt {
    border: 1px solid #f74c00;
    border-radius: 5px;
	margin: 30px auto;
    width: 180px;
	height: 40px;
	line-height: 40px;
}

.bgcolor{	
	background: #f74c00;
	
	}

.word {
    color: #f74c00;
    float: left;
	width:90px;
    text-align: center;
}


.p1{
	color:#fff;
}


.box{
	border-top:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
	
	}
.nav {
	height: 75px;
    line-height: 75px;
    margin: 0 auto;
    width: 1000px;
}
.sort {
    float: left;
	color:#333;
	font-size: 15px;
	width:125px;
	text-align: center;
}
.current{
	color:#f74c00;
	font-weight:bold;
	
	}




.info {
    margin: 0 auto;
    width: 1000px;
	padding:40px 0 100px;
}

.content{
	border-bottom:1px dashed #dcdcdc;
	height: 50px;
    line-height: 50px;
	color:#333;
	}

.news {
    float: left;
}

.date {
    float: right;
}



