{template "wap","header"}


<div class="adds" id="hd">{wap_pos($typeid)}</div>
{loop subtype($typeid)  $type}
<section class="content-block" >
    <div class="block-title">
        <h2>{$type['typename']}</h2>
        <a href="{list_url($type[typeid])}" data-gaevent="home_more_questions:home" class="icon-more">更多</a>
    </div>
    <section class="titles-list">
        <ul class="titles">

   {pc:wap action="lists" typeid="$type[typeid]" num="10" order="id DESC" return="info"}
            {loop $info $i}
            <li>
                <a href="{show_url($i[catid],$i[id])}">
                    <h4>{$i['title']}</h4>

                </a>
            </li>
            {/loop}

   {/pc}
        </ul>
    </section>

</section>
{/loop}










{template "wap","footer"}