<!DOCTYPE html>
<!--XPE 3.1.0.2275-->
<html class="desktop landscape">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script charset="utf-8" src="/statics/wap/js/b.js">
    </script>
    <script src="/statics/wap/js/hm.js">
    </script>
    <script src="/statics/wap/js/device.js">
    </script>
    <script src="/statics/wap/js/checkMobile.js">
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <link href="http://www.zhtx.org.cn/images/favicon.ico" type="image/x-icon"
          rel="icon">
    <link href="http://www.zhtx.org.cn/images/favicon.ico" type="image/x-icon"
          rel="shortcut icon">
    <meta content="中海天行企业服务平台 专业诊断 融资方案 知识产权 财税规划和行政许可" name="keywords">
    <meta content="中海天行企业服务平台 提供一站式政策事务服务：专业诊断-融资方案（含政府基金）-知识产权规划-财税优惠-行政许可及非许可业务-交流培训（含企业政策研究员）"
          name="description">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Cache-Control" content="private, no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <link rel="stylesheet" href="/statics/wap/css/m.css">
    <link rel="stylesheet" href="/statics/wap/css/common.css">
    <link rel="stylesheet" href="/statics/wap/css/editor.css">
    <link rel="stylesheet" href="/statics/wap/css/front.css">
    <link rel="stylesheet" href="/statics/wap/css/news_detail.css">
    <title>
        最新政策详情
    </title>
    <script charset="utf-8" id="globalMobileBridgeJSLoad" src="/statics/wap/js/qiao.js">
    </script>
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/statics/wap/css/m-mobile-style.css">
</head>
<body>
<script src="/statics/wap/js/core.js">
</script>
<script src="/statics/wap/js/sha256.js">
</script>
<script src="/statics/wap/js/json3.js">
</script>
<script src="/statics/wap/js/qs.js">
</script>
<script src="/statics/wap/js/ie8.js">
</script>
<script src="/statics/wap/js/define.js">
</script>
<script src="/statics/wap/js/jquery.js">
</script>
<script src="/statics/wap/js/m.js">
</script>
<script src="/statics/wap/js/loading.js">
</script>
<script src="/statics/wap/js/moment.js">
</script>
<script src="/statics/wap/js/front.js">
</script>
<script src="/statics/wap/js/session2.js">
</script>
<script src="/statics/wap/js/news_detail.js">
</script>
<div id="layout" style="visibility: visible;">
    <div id="north">
        <div class="top">
            <div class="up">
                <a href="http://www.zhtx.org.cn/m">
                    <img class="logo" src="/statics/wap/images/logo2.png">
                </a>
                <div class="user">
                    <a href="http://www.zhtx.org.cn/m/my">
                        <img class="uicon" src="/statics/wap/images/header.png">
                        <p>
                            个人中心
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="center">
        <div class="detail">
            <div class="title">
                {$title}
            </div>
            <div class="content">
              <div>
                  {$content}
              </div>
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
    <div id="southa">
    </div>
</div>
<div id="dialog_overlay" style="visibility: hidden;">
    <div id="dialog_panel">
        <div id="dialog_content">
        </div>
        <div id="dialog_control">
            <a href="javascript:void(0)" id="dialog_close" class="button col2" style="display:none;">
                取消
            </a>
            <a href="javascript:void(0)" id="dialog_ok" class="button">
                确定
            </a>
        </div>
    </div>
</div>
<div id="preloading" style="display: none;">
</div>
<a style="display: none; font-size: 14px;" target="_blank" href="http://p.qiao.baidu.com/cps/chat?siteId=9855912&userId=22228420"
   data-ignore="true" id="QIAO_ICON_CONTAINER" class="qiao-icon-sector qiao-icon-sector-left">
			<span class="qiao-icon-sector-inner" style="font-size: 14px; background-color: rgb(15, 120, 181);">
				<strong style="color: rgb(255, 255, 255); font-size: 14px;">
                    在线咨询
                </strong>
			</span>
</a>
</body>
</html>