<!DOCTYPE html>
<!--SoftTouchIT SiteC, version:1.0.500-->
<html class="desktop landscape">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta content="中关村企业服务网 专业诊断 融资方案 知识产权 财税规划和行政许可" name="keywords">
    <meta content="中关村企业服务网 提供一站式政策事务服务：专业诊断-融资方案（含政府基金）-知识产权规划-财税优惠-行政许可及非许可业务-交流培训（含企业政策研究员）" name="description">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Cache-Control" content="private, no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <link rel="stylesheet" href="/statics/wap/css/m.css">
    <link rel="stylesheet" href="/statics/wap/css/common.css">
    <link rel="stylesheet" href="/statics/wap/css/editor.css">
    <link rel="stylesheet" href="/statics/wap/css/checkSession.css">
    <link rel="stylesheet" href="/statics/wap/css/my_vipFile.css">
    <title>会员文件</title>
    <script charset="utf-8" id="globalMobileBridgeJSLoad" src="/statics/wap/js/qiao.js"></script>
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/statics/wap/css/m-mobile-style.css"></head>

<body>
<script src="/statics/wap/js/core.js"></script>
<script src="/statics/wap/js/sha256.js"></script>
<script src="/statics/wap/js/json3.js"></script>
<script src="/statics/wap/js/qs.js"></script>
<script src="/statics/wap/js/ie8.js"></script>
<script src="/statics/wap/js/define.js"></script>
<script src="/statics/wap/js/jquery.js"></script>
<script src="/statics/wap/js/m.js"></script>
<script src="/statics/wap/js/loading.js"></script>
<script src="/statics/wap/js/moment.js"></script>
<script src="/statics/wap/js/my_vipFile.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<div id="layout" style="visibility: visible;">
    <div id="north"></div>
    <div id="center">
        <div class="container">
            <ul id="list">
                {loop $data $pic_k $r}
                <li>
                    <a href="{$r[url]}">{$r[title]}</a></li>
                {/loop}
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div id="southa"></div>
</div>
<div id="preloading" style="display: none;"></div>
<a style="display: none; font-size: 14px;" target="_blank" href="http://p.qiao.baidu.com/cps/chat?siteId=9855912&userId=22228420" data-ignore="true" id="QIAO_ICON_CONTAINER" class="qiao-icon-sector qiao-icon-sector-left">
			<span class="qiao-icon-sector-inner" style="font-size: 14px; background-color: rgb(15, 120, 181);">
				<strong style="color: rgb(255, 255, 255); font-size: 14px;">在线咨询</strong>
			</span></a>
</body>
</html>
