
<div class="add-desktop" id="addDesktop">
    <img class="add-desktop-logo" src="msite/images/43de0067.apple-touch-icon-114x114-precomposed.png" width="57" height="57">
    <p>先点击<span class="icon-out"></span>，<br />再"添加至主屏幕"</p>
    <span class="arrow-down"></span>
    <div class="add-desktop-close" id="addDesktopClose"><span class="add-desktop-btn"></span></div>
</div>



<a href="javascript:void(0);" class="gotop-btn" id="to-top">
    <span class="icon-up"></span>回到顶部
</a>

<footer class="footer">
    <a href="#" class="footer-nav-item">
        <span class="icon-pc"></span>PC版
    </a>
    <a href="#" class="footer-nav-lastitem">
        <span class="icon-mb"></span>移动应用
    </a>
</footer>

<script type="text/javascript">
    var ukey=null,
            GM_PAGE_TYPE = "",
            url_signup = "",
            url_signin = "";
</script>
<script src="statics/js/7e1793a0.zepto.js"></script>
<script src="statics/js/a9468bf8.m.js"></script>
<script src="statics/js/4e06de78.index.js"></script>
</body>
</html>

