{php wmlHeader();}
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{$WAP['sitename']}  首页</title>
    <meta charset="UTF-8" />
    <meta name="Description" content="果壳网是一个泛科技主题网站，提供负责任、有智趣、贴近生活的内容，你可以在这里阅读、分享、交流、提问。果壳网致力于让科技兴趣成为人们文化生活和娱乐生活的重要元素。果壳网是一个泛科技主题网站，提供负责任、有智趣、贴近生活的内容，你可以>在这里阅读、分享、交流、提问。果壳网致力于让科技兴趣成为人们文化生活和娱乐生活的重要元素。"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="statics/css/f3d0a03a.m.css" />
    <link rel="stylesheet" href="statics/css/a0fc97c4.index.css" type="text/css" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="statics/images/43de0067.apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="statics/images/258bbb41.apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="statics/images/5da37614.apple-touch-icon-precomposed.png">
</head>
<body>

<header class="nav" id="nav">
    <div class="nav-top">
        <a href="javascript:void(0);" class="nav-btn" id="navBtn"><span class="icon-nav"></span></a>
        <a href="index.html" class="nav-logo icon-logo"><h1>中关村企业服务网</h1></a>

        <a href="#" class="nav-right">
            <span class="icon-pc">PC版</span>
        </a>

    </div>
    <nav class="nav-btm"><div class="nav-unlogin">
        <a href="#"><span class="icon-user"></span>用户登录</a>
        <a href="#"><span class="icon-reg"></span>用户注册</a>
    </div><ul id="navMenu" class="tab tab-fixed">
        <li class="current"><a href="index.html">首页</a></li>

        {pc:wap action="type" typeid="0" num="10" siteid="$siteid" }
        {loop $data $k $v}
        <li><a href="{list_url($v[typeid])}">{$v[typename]}</a></li>
        {if $n%2!=0}&nbsp;|&nbsp;{else}<br/>{/if}
        {/loop}
        {/pc}

    </ul>
    </nav>
</header>

