{template "wap","header"}
<div class="adds">{wap_pos($typeid)}</div>
    <section class="content-block" >
        <div class="block-title">

             <h2>{wap_pos($typeid)}</h2>
        </div>
        <section class="titles-list">
            <ul class="titles">

                {loop $list $v}
                <li>
                    <a href="{show_url($v[catid],$v[id],$typeid)}" title="{$v['title']}">
                        <h4>{$v['title']}</h4>

                    </a>
                </li>
                {/loop}
            </ul>
        </section>
        <div class="block-title">

        </div>

    </section>

 <div class="pages">{$pages}</div>
{template "wap","footer"}