<!DOCTYPE html>
<!--SoftTouchIT SiteC, version:1.0.500-->
<html class="desktop landscape">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script src="/statics/wap/js/device.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta content="中关村企业服务网 专业诊断 融资方案 知识产权 财税规划和行政许可" name="keywords">
    <meta content="中关村企业服务网 提供一站式政策事务服务：专业诊断-融资方案（含政府基金）-知识产权规划-财税优惠-行政许可及非许可业务-交流培训（含企业政策研究员）" name="description">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Cache-Control" content="private, no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <link rel="stylesheet" href="/statics/wap/css/m.css">
    <link rel="stylesheet" href="/statics/wap/css/common.css">
    <link rel="stylesheet" href="/statics/wap/css/editor.css">
    <link rel="stylesheet" href="/statics/wap/css/login.css">
    <title>登录</title></head>

<body>
<script src="/statics/wap/js/core.js"></script>
<script src="/statics/wap/js/sha256.js"></script>
<script src="/statics/wap/js/json3.js"></script>
<script src="/statics/wap/js/qs.js"></script>
<script src="/statics/wap/js/ie8.js"></script>
<script src="/statics/wap/js/define.js"></script>
<script src="/statics/wap/js/jquery.js"></script>
<script src="/statics/wap/js/m.js"></script>
<script src="/statics/wap/js/loading.js"></script>
<script src="/statics/wap/js/moment.js"></script>
<script src="/statics/wap/js/login.js"></script>
<script src="/statics/wap/js/signon.js"></script>
<div id="layout">
    <div id="north"></div>
    <div id="center">
        <div class="content" style="min-height: 487px;">
            <div class="main">
                <a href="/">
                    <img class="profile-img" src="/statics/wap/images/logo.png" alt=""></a>
                <form class="form-signin" id="loginForm">
                    <div class="item">
                        <input name="username" id="username" class="form-control" placeholder="公司名称" type="text"></div>
                    <div class="item">
                        <input name="password" id="password" class="form-control password" placeholder="输入密码" type="password"></div>
                    <a href="" class="forget">忘记密码？</a>
                    <input class="btn" id="btn_login" value="登录" type="button"></form>
            </div>
        </div>
        <a href="/index.php?&a=reg" class="goReg">没有账号？去注册</a></div>
    <div class="clear"></div>
    <div id="southa"></div>
</div>
<div id="preloading" style="display: none;"></div>
</body>
</html>