<!DOCTYPE html>
<!--XPE 3.1.0.2275-->
<html class="desktop landscape">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta content="中关村企业服务网 专业诊断 融资方案 知识产权 财税规划和行政许可" name="keywords">
    <meta content="中关村企业服务网 提供一站式政策事务服务：专业诊断-融资方案（含政府基金）-知识产权规划-财税优惠-行政许可及非许可业务-交流培训（含企业政策研究员）" name="description">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Cache-Control" content="private, no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <link rel="stylesheet" href="/statics/wap/css/m.css">
    <link rel="stylesheet" href="/statics/wap/css/common.css">
    <link rel="stylesheet" href="/statics/wap/css/editor.css">
    <link rel="stylesheet" href="/statics/wap/css/my_vipFile_play.css">
    <title>{$title}</title>
    <script charset="utf-8" id="globalMobileBridgeJSLoad" src="/statics/wap/js/qiao.js"></script>
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/statics/wap/css/m-mobile-style.css"></head>

<body>
<script src="/statics/wap/js/core.js"></script>
<script src="/statics/wap/js/sha256.js"></script>
<script src="/statics/wap/js/json3.js"></script>
<script src="/statics/wap/js/qs.js"></script>
<script src="/statics/wap/js/ie8.js"></script>
<script src="/statics/wap/js/define.js"></script>
<script src="/statics/wap/js/jquery.js"></script>
<script src="/statics/wap/js/m.js"></script>
<script src="/statics/wap/js/loading.js"></script>
<script src="/statics/wap/js/moment.js"></script>
<script src="/statics/wap/js/my_vipFile_play.js"></script>
<div id="layout" style="visibility: visible;">
    <div id="north"></div>
    <div id="center">
        <div class="container-play">
            <div class="slider">
                <div class="center_box" id="list" style="height: 480px;">
                    {loop $pictureurls $pic_k $r}
                    <div class="banner_list">
                        <img src="{$r[url]}" alt="{$r[alt]}" style="height: 480px;" width="100%"></div>
                  {/loop}
               </div>
                <div class="percent">1
                    <s>/
                        <s>59</s>
                    </s>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="southa"></div>
</div>
<div id="preloading" style="display: none;"></div>
<a style="display: none; font-size: 14px;" target="_blank" href="http://p.qiao.baidu.com/cps/chat?siteId=9855912&userId=22228420" data-ignore="true" id="QIAO_ICON_CONTAINER" class="qiao-icon-sector qiao-icon-sector-left">
			<span class="qiao-icon-sector-inner" style="font-size: 14px; background-color: rgb(15, 120, 181);">
				<strong style="color: rgb(255, 255, 255); font-size: 14px;">在线咨询</strong>
			</span></a>
</body>
</html>
<script>
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: "{$signPackage['appId']}", // 必填，公众号的唯一标识
        timestamp:"{$signPackage['timestamp']}", // 必填，生成签名的时间戳
        nonceStr: "{$signPackage['nonceStr']}", // 必填，生成签名的随机串
        signature: "{$signPackage['signature']}",// 必填，签名，见附录1
        jsApiList: [
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo',
            'onMenuShareQZone'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    wx.ready(function(){
        var title='{$title}';
        var desc='{$desc}';
        var link='{$signPackage["url"]}';
        var imgUrl='http://m.zgcfw.org.cn/statics/wap/images/zgc_logo.jpg';

        wx.onMenuShareAppMessage({
            title: title, // 分享标题
            desc: desc, // 分享描述
            link: link, // 分享链接
            imgUrl: imgUrl, // 分享图标
        });

        wx.onMenuShareTimeline({
            title: title, // 分享标题
            link: link, // 分享链接
            imgUrl: imgUrl, // 分享图标
        });
        wx.onMenuShareQQ({
            title: title, // 分享标题
            desc: title, // 分享描述
            link: link, // 分享链接
            imgUrl: imgUrl, // 分享图标
        });

        wx.onMenuShareWeibo({
            title: title, // 分享标题
            desc: desc, // 分享描述
            link: link, // 分享链接
            imgUrl: imgUrl, // 分享图标
        });
    })
</script>