<!DOCTYPE html>
<!--SoftTouchIT SiteC, version:1.0.500-->
<html class="desktop landscape">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script charset="utf-8" src="/statics/wap/js/b.js">
    </script>
    <script src="/statics/wap/js/hm.js">
    </script>
    <script src="/statics/wap/js/device.js">
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <link href="http://www.zhtx.org.cn/images/favicon.ico" type="image/x-icon"
          rel="icon">
    <link href="http://www.zhtx.org.cn/images/favicon.ico" type="image/x-icon"
          rel="shortcut icon">
    <meta content="中海天行企业服务平台 专业诊断 融资方案 知识产权 财税规划和行政许可" name="keywords">
    <meta content="中海天行企业服务平台 提供一站式政策事务服务：专业诊断-融资方案（含政府基金）-知识产权规划-财税优惠-行政许可及非许可业务-交流培训（含企业政策研究员）"
          name="description">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Cache-Control" content="private, no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <link rel="stylesheet" href="/statics/wap/css/m.css">
    <link rel="stylesheet" href="/statics/wap/css/common.css">
    <link rel="stylesheet" href="/statics/wap/css/editor.css">
    <link rel="stylesheet" href="/statics/wap/css/front.css">
    <link rel="stylesheet" href="/statics/wap/css/policy.css">
    <title>
        政策解读
    </title>
    <script charset="utf-8" id="globalMobileBridgeJSLoad" src="/statics/wap/js/qiao.js">
    </script>
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/statics/wap/css/m-mobile-style.css">
</head>
<body>
<script src="/statics/wap/js/core.js">
</script>
<script src="/statics/wap/js/sha256.js">
</script>
<script src="/statics/wap/js/json3.js">
</script>
<script src="/statics/wap/js/qs.js">
</script>
<script src="/statics/wap/js/ie8.js">
</script>
<script src="/statics/wap/js/define.js">
</script>
<script src="/statics/wap/js/jquery.js">
</script>
<script src="/statics/wap/js/m.js">
</script>
<script src="/statics/wap/js/loading.js">
</script>
<script src="/statics/wap/js/moment.js">
</script>
<script src="/statics/wap/js/front.js">
</script>
<script src="/statics/wap/js/session2.js">
</script>
<script src="/statics/wap/js/policy.js">
</script>
<div id="layout">
    <div id="north">
        <div class="top">
            <div class="up">
                <a href="http://www.zhtx.org.cn/m">
                    <img class="logo" src="/statics/wap/images/logo2.png">
                </a>
                <div class="user">
                    <a href="http://www.zhtx.org.cn/m/my">
                        <img class="uicon" src="/statics/wap/images/header.png">
                        <p>
                            个人中心
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="center">
        <div class="pic">
            <img class="bg" src="/statics/wap/images/3-1.jpg">
        </div>
        <ul id="list">
            <li class="c2">
                <a href="http://www.zhtx.org.cn/m/policy/detail?id=534">
                    <div class="caption">
                        项目申报信息
                    </div>
                    <div class="title">
                        <p>
                            第二批亦麒麟暨新创工程领军人才资格认定申请等事项通知
                        </p>

                    </div>
                </a>
            </li>
            <li class="c1">
                <a href="http://www.zhtx.org.cn/m/policy/detail?id=533">
                    <div class="caption">
                        项目立项信息
                    </div>
                    <div class="title">
                        <p>
                            第二批国家小型微型企业创业创新示范基地名单的公示
                        </p>
                    </div>
                </a>
            </li>
            <li class="c2">
                <a href="http://www.zhtx.org.cn/m/policy/detail?id=532">
                    <div class="caption">
                        项目申报信息
                    </div>
                    <div class="title">
                        <p>
                            关于征集2017年度国家科学技术学术著作出版基金项目通知
                        </p>
                    </div>
                </a>
            </li>
            <li class="c1">
                <a href="http://www.zhtx.org.cn/m/policy/detail?id=531">
                    <div class="caption">
                        项目立项信息
                    </div>
                    <div class="title">
                        <p>
                            关于推荐参评2015-2016年度发展改革系统全国青年文明号公示
                        </p>
                    </div>
                </a>
            </li>
            <li class="c1">
                <a href="http://www.zhtx.org.cn/m/policy/detail?id=530">
                    <div class="caption">
                        项目立项信息
                    </div>
                    <div class="title">
                        <p>
                            工业产品质量控制和技术评价实验室第一批通过复核名单
                        </p>
                    </div>
                </a>
            </li>
            <li class="c1">
                <a href="http://www.zhtx.org.cn/m/policy/detail?id=529">
                    <div class="caption">
                        项目立项信息
                    </div>
                    <div class="title">
                        <p>
                            工业产品质量控制和技术评价实验室（第四批）名单公示
                        </p>
                    </div>
                </a>
            </li>
            <li class="c2">
                <a href="http://www.zhtx.org.cn/m/policy/detail?id=528">
                    <div class="caption">
                        项目申报信息
                    </div>
                    <div class="title">
                        <p>
                            《2016年度新区环境保护资金项目申报指南》的通知
                        </p>
                    </div>
                </a>
            </li>
            <li class="c2">
                <a href="http://www.zhtx.org.cn/m/policy/detail?id=527">
                    <div class="caption">
                        项目申报信息
                    </div>
                    <div class="title">
                        <p>
                            申报2016国家自主创新首台重大技术装备试验示范项目通知
                        </p>
                    </div>
                </a>
            </li>
            <li class="c4">
                <a href="http://www.zhtx.org.cn/m/policy/detail?id=526">
                    <div class="caption">
                        财税政策
                    </div>
                    <div class="title">
                        <p>
                            关于国家大学科技园税收政策的通知
                        </p>
                    </div>
                </a>
            </li>
            <li class="c2">
                <a href="http://www.zhtx.org.cn/m/policy/detail?id=525">
                    <div class="caption">
                        项目申报信息
                    </div>
                    <div class="title">
                        <p>
                            2016中关村自主创新示范区新兴产业促进平台项目储备通知
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="clear">
    </div>
    <div id="southa">
    </div>
</div>
<div id="dialog_overlay" style="visibility: hidden;">
    <div id="dialog_panel">
        <div id="dialog_content">
        </div>
        <div id="dialog_control">
            <a href="javascript:void(0)" id="dialog_close" class="button col2" style="display:none;">
                取消
            </a>
            <a href="javascript:void(0)" id="dialog_ok" class="button">
                确定
            </a>
        </div>
    </div>
</div>
<div id="preloading" style="display: none;">
</div>
<a style="display: none; font-size: 14px;" target="_blank" href="http://p.qiao.baidu.com/cps/chat?siteId=9855912&userId=22228420"
   data-ignore="true" id="QIAO_ICON_CONTAINER" class="qiao-icon-sector qiao-icon-sector-left">
			<span class="qiao-icon-sector-inner" style="font-size: 14px; background-color: rgb(15, 120, 181);">
				<strong style="color: rgb(255, 255, 255); font-size: 14px;">
                    在线咨询
                </strong>
			</span>
</a>
</body>
</html>