<!DOCTYPE html>
<!--SoftTouchIT SiteC, version:1.0.500-->
<html class="desktop landscape">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script src="/statics/wap/js/device.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <link href="http://www.zhtx.org.cn/images/favicon.ico" type="image/x-icon" rel="icon">
    <link href="http://www.zhtx.org.cn/images/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <meta content="中关村企业服务网 专业诊断 融资方案 知识产权 财税规划和行政许可" name="keywords">
    <meta content="中关村企业服务网 提供一站式政策事务服务：专业诊断-融资方案（含政府基金）-知识产权规划-财税优惠-行政许可及非许可业务-交流培训（含企业政策研究员）" name="description">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Cache-Control" content="private, no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <link rel="stylesheet" href="/statics/wap/css/m.css">
    <link rel="stylesheet" href="/statics/wap/css/common.css">
    <link rel="stylesheet" href="/statics/wap/css/editor.css">
    <link rel="stylesheet" href="/statics/wap/css/reg.css">
    <title>注册</title></head>

<body>
<script src="/statics/wap/js/core.js"></script>
<script src="/statics/wap/js/sha256.js"></script>
<script src="/statics/wap/js/json3.js"></script>
<script src="/statics/wap/js/qs.js"></script>
<script src="/statics/wap/js/ie8.js"></script>
<script src="/statics/wap/js/define.js"></script>
<script src="/statics/wap/js/jquery.js"></script>
<script src="/statics/wap/js/m.js"></script>
<script src="/statics/wap/js/loading.js"></script>
<script src="/statics/wap/js/moment.js"></script>
<script src="/statics/wap/js/reg.js"></script>
<div id="layout">
    <div id="north"></div>
    <div id="center">
        <div class="wrap profile">
            <div class="list-box">
                <form id="itemForm">
                    <div class="list namewrap">
                        <input class="input-radius input-box" name="company" placeholder="请输入公司名称" type="text"></div>
                    <div class="list cellwrap">
                        <input class="input-radius input-box" placeholder="手机号码" name="phone" id="cell" type="tel">
                        <span class="cellbutton input-radius" id="sendcode">发送</span></div>
                    <div class="list cellwrap">
                        <input class="input-radius input-box" placeholder="输入验证码" name="code" id="code" type="text"></div>
                    <div class="list addresswrap">
                        <input class="input-radius input-box" placeholder="密码（6-16位）" name="password" type="password"></div>
                    <div class="list addresswrap">
                        <input class="input-radius input-box" placeholder="确认密码" name="password1" type="password"></div>
                    <div class="list addresswrap">
                        <input class="input-radius input-box" placeholder="输入邮箱，找回密码使用" name="email" type="email"></div>
                    <div class="list addresswrap">
                        <input class="input-radius input-box" placeholder="联系人名称" name="name" type="text"></div>
                    <div class="list addresswrap">
                        <input class="input-radius input-box" placeholder="您的职务名称" name="post" type="text"></div>
                    <div class="submitwrap">
                        <button class="submin-button input-radius" type="button" name="submitBtn" id="submitBtn">提交</button></div>
                    <a href="/index.php?&a=reg" class="goLogin">已有账号，去登录</a></form>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="southa"></div>
</div>

<div id="preloading" style="display: none;"></div>
</body>
</html>