{template "content","header_zcyj"}

<div id="center">
    <div class="class">
        <ul class="list">
            {pc:content action="category" catid="$catid" order="listorder DESC" thumb="" moreinfo=""  num="20"  return="data" }
            {loop $data $r}
            {if $catid==$r['catid']}
            <li class="item on">
                <div class="icon">
                    <a href="{$r['url']}">  <img src="/statics/new/images/ny_ic_{$r['catdir']}_on.png"/></a>
                </div>
                <span>{$r['catname']}</span>
            </li>
            {else}
            <li class="item">
                <div class="icon">
                    <a href="{$r['url']}"> <img src="/statics/new/images/ny_ic_{$r['catdir']}.png"/></a>
                </div>
                <span>{$r['catname']}</span>
            </li>
            {/if}
            {/loop}
            {/pc}
        </ul>
    </div>
    <!--最新政策start-->
<div class="part">
    <div class="info">
        {pc:content action="lists" catid="$catid" order="updatetime DESC" thumb="" moreinfo=""  num="20"  return="data"  page="$page"  }
        {loop $data $n $r}
        <div class="content">
            <div class="news"><a title="{$r['title']}" href="{$r['url']}">{$r['title']}</a></div>
            <div class="date">{date('Y-m-d',$r[inputtime])}</div>
        </div>
        {/loop}
        {/pc}
        <div class="xy_ic">


            <div class="xy_ic_r">
                {$pages}
            </div>

            <div class="clear"></div>
        </div>

    </div>
</div>
<!--最新政策end-->

</div>



<!--center-->



<div class="clear"></div>



{template "content","footer_zsk"}