{template "content","header_zsk"}

<div id="center4">
    <div class="class">
        <ul class="list knowledge-tab" >
            {pc:content action="category" catid="129" order="listorder DESC" thumb="" moreinfo=""  num="20"  return="data" }
            {loop $data $r}
            {if 130==$r['catid']}
            <li class="item on">
                <div class="icon">
                    <a href="{$r['url']}">  <img src="/statics/new/images/ny_ic_{$r['catdir']}_on.png"/></a>
                </div>
                <span>{$r['catname']}</span>
            </li>
            {else}
            <li class="item">
                <div class="icon">
                    <a href="{$r['url']}"> <img src="/statics/new/images/ny_ic_{$r['catdir']}.png"/></a>
                </div>
                <span>{$r['catname']}</span>
            </li>
            {/if}
            {/loop}
            {/pc}
        </ul>
    </div>


    <!--知识库start-->
    <div class="part">

        <div class="content_box_2">
            <div class="content_box_2_2">
                {if $catid==133}
                <a class="box_left_2 onclick" href="/index.php?m=content&c=index&a=lists&catid=133">专利</a>
                <a class="box_right_2" href="/index.php?m=content&c=index&a=lists&catid=134">商标</a>
                {else}
                <a class="box_left_2" href="/index.php?m=content&c=index&a=lists&catid=133">专利</a>
                <a class="box_right_2 onclick" href="/index.php?m=content&c=index&a=lists&catid=134">商标</a>
                {/if}
                <div class="clear"></div>
            </div>
        </div>


        <div class="box">
            <ul class="nav">
                <?php if($catid==133||$catid==130||$catid==129){
                        $nowcatid=133;
                        }else{
                        $nowcatid=134;
                        }

                ?>
                {pc:content action="category" catid="$nowcatid" order="listorder DESC" thumb="" moreinfo=""  num="20"  return="data" }
                {loop $data $r}

                <a href="{$r['url']}"><li  {if $catid==$r['catid']} class="sort current" {else}class="sort"{/if}>{$r['catname']}</li></a>
                {/loop}
                {/pc}
            </ul>
        </div>
        <div class="info">
            <ul>
                {pc:content action="lists" catid="$catid" order="updatetime DESC" thumb="" moreinfo=""  num="20"  return="data"  page="$page"  }
                {loop $data $n $r}
                <li>
                    <a title="{$r['title']}" href="{$r['url']}">{$r['title']}</a>
                    <span>{date('Y-m-d',$r[inputtime])}</span>
                    <div class="clear"></div>
                </li>
                {/loop}
                {/pc}
            </ul>
            <div class="xy_ic">
                <div class="xy_ic_r">
                    {$pages}
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!--知识库end-->

</div>
<!--center-->
<div class="clear"></div>


{template "content","footer_zsk"}
