<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link href="{CSS_PATH}common.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}container.css" type="text/css" rel="stylesheet">

{if $_GET['c']=='index'||$_GET['c']=='tag'}
<link href="{CSS_PATH}category.css" type="text/css" rel="stylesheet">
{else}
<link href="{CSS_PATH}home.css" type="text/css" rel="stylesheet">
{/if}
<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}jquery.sgallery.js"></script>
<script type="text/javascript" src="{JS_PATH}search_common.js"></script>
<script type="text/javascript" src="{JS_PATH}jquery.KinSlideshow-1.1.js"></script>

<style type="text/css">
.code{ height:auto; padding:20px; border:1px solid #9EC9FE; background:#ECF3FD;}
.code pre{ font-family:"Courier New";font-size:14px;}
.info{ font-size:12px; color:#666666; font-family:Verdana; }
.info p{ margin:0; padding:0; line-height:22px; text-indent:40px;}
h2.title{ margin:0; padding:0; margin-top:50px; font-size:18px; font-family:"微软雅黑",Verdana;}
h3.title{ font-size:16px; font-family:"微软雅黑",Verdana;}
.importInfo{ font-family:Verdana; font-size:14px;}
</style>
</head>
<script language="JavaScript">
<!--

	$(function(){
		$('#username').focus();
	})


	
	function show_login(site) {
		if(site == 'sina') {
			art.dialog({lock:false,title:'用新浪账号登录',id:'protocoliframe', iframe:'index.php?m=member&c=index&a=public_sina_login',width:'500',height:'310',yesText:'关闭'}, function(){
			});
		} else if(site == 'snda') {
			art.dialog({lock:false,title:'用盛大连接登录',id:'protocoliframe', iframe:'index.php?m=member&c=index&a=public_snda_login',width:'500',height:'310',yesText:'关闭'}, function(){
			});
		} else if(site == 'qq') {
			art.dialog({lock:false,title:'用腾讯微博帐号登录',id:'protocoliframe', iframe:'index.php?m=member&c=index&a=public_qq_login',width:'500',height:'310',yesText:'关闭'}, function(){
			});
		}
	}
//-->
</script>
<body class="yui-skin-sam">
<div class="" description="" id="layout"><div class="" description="" id="north"><div class=""><div class="" description="" id="header"><div class="top"><div class="block"><div class="block_body">
<a class="logo" href="{siteurl($siteid)}"></a>
        <div class="contact" >
            <ul>
        
              <li><img style="height:20px;"  src="/statics/images/icon/find_phone.png">：010-82626510 &nbsp;&nbsp; <a  href="http://wpa.qq.com/msgrd?v=3&uin=2727932550&site=qq&menu=yes" target="_blank">
                   <img border="0" title="在线服务" alt="在线服务" src="http://wpa.qq.com/pa?p=2:2727932550:41">
                   </a></li>
              <li><img style="height:20px;"  src="/statics/images/icon/email.png">：<a href="mailto:zgcqyfw@126.com">zgcqyfw@126.com</a></li>
      
            </ul>
          </div>
</div></div></div><div class="menu"><div class="block"><div class="block_body">
<map>
    	{pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
        	<ul >
			<li  {if  !$top_parentid }  class="onClick"  {/if} id="main_menu_1"><a href="{siteurl($siteid)}">首页</a></li>
			{loop $data $r}
			<li {if  $top_parentid == $r[catid]}  class="onClick"  {/if}><a href="{$r[url]}">{$r[catname]}</a></li>
			{/loop}
            </ul>
        {/pc}
		{php echo runhook('glogal_menu')}
        </map>
           
<div class="clear"></div>
</div>
</div>
</div>
<div class="banner1"></div>

<div class="xlet">
</div>
<div class="xlet">
<div class="block"><div class="block_body">
</div>
</div>
</div>
<div class="" description="" id="search">
<div class="searchBlock">
<div class="xpe_ui" id="xpe_">
<form id="sform2" name="sform2"   action="{APP_PATH}index.php" method="get" target="_blank"  >
 <input  name="q" id="q"  onblur='if(this.value==""){this.value="请输入关键字"}' onfocus="if(this.value=='请输入关键字')this.value=''" value="请输入关键字"  class="input" type="text"> 
<input value="" name="queryTemplate" type="hidden">
<input type="hidden" name="m" value="search"/>
				<input type="hidden" name="c" value="index"/>
				<input type="hidden" name="a" value="init"/>
				<input type="hidden" name="typeid" value="{$typeid}" id="typeid"/>
				<input type="hidden" name="siteid" value="{$siteid}" id="siteid"/>
<input class="searchBtn" value="搜索" type="submit">
</form>
</div>
<div style="display:none" id="xpe_ui"></div>
</div>
<div class="loginText"><div class="xpe_ui" id="xpe_">
<div class="login">
<form method="post" action="index.php?m=member&c=index&a=login" id="myform" name="myform">
            用户名：<input  id="username" name="username" class="username" type="text">
            密码：<input type="password" id="password" name="password" class="password">
			<input class="loginBtn" value="登陆" name="dosubmit" id="dosubmit" type="submit"><span><a href="index.php?m=member&c=index&a=register&siteid=1" class="register">注册</a>|<a href="index.php?m=member&c=index&a=public_forget_password&siteid=1" class="forgetPas">忘记密码</a></span>
			</form>
			<form id="login" method="POST" action="/xpe/secu/login">
                              <input value="/xpe/portal/2da378f0-138b-1000-8387-49737a611cd0" name="onSuccess" type="hidden">
                              <input name="username" value="" type="hidden">
                              <input name="password" value="" type="hidden">
                      </form>
</div>
<div class="clear"></div>
<div class="blank"></div>
<div style="visibility: hidden;" id="simpleDialog_d38902072e22_c" class="yui-panel-container yui-dialog yui-overlay-hidden yui-simple-dialog"><div class="yui-module yui-overlay yui-panel" id="simpleDialog_d38902072e22" style="display: none; visibility: inherit;"><div class="hd" id="hd_simpleDialog_d38902072e22">提示</div><div class="bd" id="bd_simpleDialog_d38902072e22"></div></div></div></div>
<div style="display:none" id="xpe_ui"></div>
</div>
<div class="clear" description="" id="clear02"></div>
<script type="text/javascript">
$(function(){
	$("#KinSlideshow").KinSlideshow();
     
})
</script>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>