<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/statics/new/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/statics/new/css/index.css" />
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
</head>
<body>
<div id="north">
    <div class="menu_bar">
        <div class="logo_ic"></div>
        <div class="menu_all">
            <ul>
                <li class="on_click" ><a href="index.html">首页</a></li>
                <li><a href="/index.php?m=content&c=index&a=lists&catid=135">政策研究</a></li>
                <li><a href="/index.php?m=content&c=index&a=lists&catid=149">企业服务</a></li>
                <li><a href="/index.php?m=content&c=index&a=lists&catid=129">知识库</a></li>
            </ul>

        </div>
        <div class="login_k" id="loginDiv">
            <?php  $userid= param::get_cookie('_userid');?>
            {if $userid }
            <div class="log_off">
                <p>你好：<?php echo param::get_cookie('_username')?></p>  |  <a href="index.php?m=member&c=index&a=logout" >注销</a>
            </div>
            {else}
            <span class="login_button">登陆</span>
            <span class="register_button">注册</span>
            {/if}

        </div>

    </div>
    <div class="banner_all">
        <P class="ys_2">为企业提供</P>
        <p>一站式政策事务服务</p>
        <span>包括 专业诊断、融资方案、知识产权、财税规划和行政许可</span>
        <a>立即开始诊断</a>
    </div>
</div>

<div id="center">
    <div class="tgfw_bar">
        <p>【 我们为您提供以下服务 】</p>
        <div class="tg_bar_icon">
            <ul>
                <li>
                    <div class="tg_icon">
                        <div class="tg_icon_1_bg"></div>
                    </div>
                    <span>专业诊断</span>
                </li>

                <li>
                    <div class="tg_icon">
                        <div class="tg_icon_2_bg"></div>
                    </div>
                    <span>融资方案</span>
                </li>
                <li>
                    <div class="tg_icon">
                        <div class="tg_icon_3_bg"></div>
                    </div>
                    <span>融资方案</span>
                </li>

                <li>
                    <div class="tg_icon">
                        <div class="tg_icon_4_bg"></div>
                    </div>
                    <span>财税规划</span>
                </li>

                <li>
                    <div class="tg_icon">
                        <div class="tg_icon_5_bg"></div>
                    </div>
                    <span>行政许可和非行政许可</span>
                </li>

                <div class="clear"></div>
            </ul>
        </div>
    </div>

    <div class="xl_all">
        <div class="all_k">
            <ul>
                <li>
                    <span class="xl_ic_1">简单</span>
                    <P>在线提交企业资料, 足不出户即可获得专业诊断和最新资讯</P>
                </li>

                <li>
                    <span class="xl_ic_2">快速</span>
                    <P>用互联网管理所有信息，打通线下复杂环节，比传统代理更快、更高效</P>
                </li>

                <li>
                    <span class="xl_ic_3">专业</span>
                    <P>多年企业服务经验，资深专家团队，为企业提供量身定制的政策事务服务方案</P>
                </li>

                <li>
                    <span class="xl_ic_4">省心</span>
                    <P>多年企业服务经验，资深专家团队，为企业提供量身定制的政策事务服务方案</P>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>

    <div class="db_text">
        <ul>
            <li class="wm_text">
                <span>【 我们 】</span>
                <p class="nr_1">八年专注企业政策研究和咨询服务</p>
                <p class="nr_2 nr_4">提供一站式政策事务服务：专业诊断-融资方案（含政府基金）-知识产权规划-财税优惠-行政许可及非许可业务-交流培训（含企业政策研究员）</p>
                <p class="nr_3">解决企业 "只顾埋头拉车，无暇抬头看路"问题</p>
            </li>

            <li><a class="vs_ic"></a></li>

            <li  class="wm_text">
                <span>【 传统代理 】</span>
                <p >了解个别或少数企业相关政策及服务</p>
                <p class="nr_4" >只解决个别或少部分行政事务：工商注册、代理记账、知识产权代理</p>
                <p >不能满足企业整体评估诊断和规划的要求</p>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
    <!--center-->
</div>
<div class="clear"></div>
{template "content","footer_zsk"}