{template "content","header_qyfw"}

<div id="center">
    <div class="qyfw_text">
        <p class="text_2">企业政策服务不发愁</p>
        <p >仅需三步轻松完成</p>
    </div>

    <div class="bz_text">
        <a></a>
        <ul>
            <li>
                <span>1</span>
                <p>网上注册</p>
            </li>

            <li>
                <span>2</span>
                <p>在线诊断</p>
            </li>

            <li>
                <span>3</span>
                <p>生成规划报告</p>
            </li>
            <div class="clear"></div>
        </ul>
    </div>

</div>
<!--center-->
<div id="center2">


    <div class="wmd_fw">
        <ul>
            <li>
                <span >专业诊断</span>
                <div class="tit_z">
                    <p class="fst1_x">企业全面体检</p>
                    <p>相关行业调研</p>
                    <p>管理规划咨询</p>
                    <p>信息服务提示</p>
                </div>
            </li>

            <li>
                <span >融资方案</span>
                <div class="tit_z">
                    <p class="fst1_x">股权融资
                    <p>债权融资</p>
                    <p>政府投资</p>
                </div>
            </li>

            <li>
                <span >知识产权</span>
                <div class="tit_z">
                    <p class="fst1_x">知识产权</p>
                    <p>战略规划</p>

                </div>
            </li>

            <li>
                <span >财税顾问</span>
                <div class="tit_z">
                    <p class="fst1_x">税收优惠策划</p>
                    <p>财务制度规范</p>

                </div>
            </li>

            <li>
                <span >政策事务</span>
                <div class="tit_z">
                    <p class="fst1_x">行政许可</p>
                    <p>政策导向</p>

                </div>
            </li>

            <li>
                <span >交流培训</span>
                <div class="tit_z">
                    <p class="fst1_x">投融资对接会</p>
                    <p>政府政策宣讲</p>
                    <p>知识产权战略</p>
                    <p>财税政策培训</p>
                </div>
            </li>
            <div class="clear"></div>
        </ul>
    </div>


</div>
<!--center2-->
<div class="clear"></div>
<div id="south">
    <div class="footer">
        <div class="xq_k">
            <ul>
                <li>
                    <div class="phone_ic"></div>
                    <div class="phone_num">
                        <p>400-1067-365</p>
                        <p class="tim_cl">周一至周五 9：00-18：00</p>
                    </div>
                    <div class="clear"></div>
                </li>

                <li class="contect_ic">
                    <div class="tencent_ic"></div>
                    <em>2464038517</em>
                    <div class="clear"></div>
                </li>

                <li class="contect_ic">
                    <div class="wechat_all">
                        <a class="wechat_ic" style="display:none;"></a>
                    </div>
                    <em>qyyjy@0458</em>
                    <div class="clear"></div>
                </li>

                <li class="contect_ic">
                    <div class="email_ic"></div>
                    <em>hihi2547@qq.com</em>
                    <div class="clear"></div>
                </li>
                <div class="clear"></div>
            </ul>

        </div>
    </div>

    <p class="bottom_text">2011©版权所有 北京中海天行投资管理中心　京ICP备11043041号</p>

</div>

