{template "content","header_zcyj"}

<div id="center">
    <div class="tittle_text">
        <div class="txte_l">
            <p>{$title}</p>
            <div class="l_zd">
                <a>作者：{$copyfrom}</a><span>发表日期：{$inputtime}</span>
            </div>
        </div>

        <button  onclick="window.location='/index.php?m=content&c=index&a=lists&catid={$catid}'" >返回</button>

        <div class="clear"></div>
    </div>

    <div class="zw_tx">
        {$content}
    </div>

</div>


{template "content","footer_zsk"}